# This is the pip requirements file for package `kems_pdf_generator`
# Please add your python package requirements in this file

## core requirements
# pykechain==<specific version> ## uncomment and pin to a specific version. Latest pykechain is always provided
pykechain

# additional requirements below
fastapi
starlette
uvicorn
pydantic

# latex pdf builder
data
latex
shutilwhich
tempdir
jinja2

# dev
pre-commit
